root = true

[*]
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.{blp,build,doap,json,xml,xml.in,xml.in.in,htm,html,css}]
indent_size = 2

[*.{rs,rs.in}]
indent_size = 4
