:root {
  --blue1: rgb(153, 193, 241);
  --blue2: rgb(98, 160, 234);
  --blue3: rgb(53, 132, 228);
  --blue4: rgb(28, 113, 216);
  --blue5: rgb(26, 95, 180);
  --green1: rgb(143, 240, 164);
  --green2: rgb(87, 227, 137);
  --green3: rgb(51, 209, 122);
  --green4: rgb(46, 194, 126);
  --green5: rgb(38, 162, 105);
  --yellow1: rgb(249, 240, 107);
  --yellow2: rgb(248, 228, 92);
  --yellow3: rgb(246, 211, 45);
  --yellow4: rgb(245, 194, 17);
  --yellow5: rgb(229, 165, 10);
  --orange1: rgb(255, 190, 111);
  --orange2: rgb(255, 163, 72);
  --orange3: rgb(255, 120, 0);
  --orange4: rgb(230, 97, 0);
  --orange5: rgb(198, 70, 0);
  --red1: rgb(246, 97, 81);
  --red2: rgb(237, 51, 59);
  --red3: rgb(224, 27, 36);
  --red4: rgb(192, 28, 40);
  --red5: rgb(165, 29, 45);
  --purple1: rgb(220, 138, 221);
  --purple2: rgb(192, 97, 203);
  --purple3: rgb(145, 65, 172);
  --purple4: rgb(129, 61, 156);
  --purple5: rgb(97, 53, 131);
  --brown1: rgb(205, 171, 143);
  --brown2: rgb(181, 131, 90);
  --brown3: rgb(152, 106, 68);
  --brown4: rgb(134, 94, 60);
  --brown5: rgb(99, 69, 44);
  --light1: rgb(255, 255, 255);
  --light2: rgb(246, 245, 244);
  --light3: rgb(222, 221, 218);
  --light4: rgb(192, 191, 188);
  --light5: rgb(154, 153, 150);
  --dark1: rgb(119, 118, 123);
  --dark2: rgb(94, 92, 100);
  --dark3: rgb(61, 56, 70);
  --dark4: rgb(36, 31, 49);
  --dark5: rgb(0, 0, 0);

  --accent-blue:   #3584e4;
  --accent-teal:   #2190a4;
  --accent-green:  #3a944a;
  --accent-yellow:  #c88800;
  --accent-orange:   #ed5b00;
  --accent-red:  #e62d42;
  --accent-pink:   #d56199;
  --accent-purple:   #9141ac;
  --accent-slate:  #6f8396;

  --window-bg-color: #fafafb;
  --window-fg-color: rgb(0 0 6 / 80%);
}

:root {
  --accent-bg-color: var(--accent-blue);
  --accent-bg-hover-color: #4990e7;
  --accent-bg-active-color: #2a6ab6;
  --accent-bg-color-muted: #3584e420;
  --link-color: var(--blue5);
  --accent-fg-color: white;
  --button-bg-color: #e6e6e7; /* color-mix(in srgb, currentColor 10%, transparent); */
  --button-bg-hover-color: #dcdcdd;
  --button-bg-active-color: #bebec0;
  --contribution-bg-color: var(--light4);
  --contribution-fg-color: var(--dark5);
  --colophon-bg-color: var(--dark3);
  --colophon-fg-color: var(--light1);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-bg-color: var(--accent-orange);
    --accent-bg-hover-color: #ef6b19;
    --accent-bg-active-color: #c04400;
    --accent-bg-color-muted: #ed5b0020;
    --accent-fg-color: white;
    --link-color: var(--orange1);
  --window-bg-color: #222226;
  --window-fg-color: #ffffff;
  --button-bg-color: #39393c; /* color-mix(in srgb, currentColor 10%, transparent); */
  --button-bg-hover-color: #434346;
  --button-bg-active-color: #656568;
  --contribution-bg-color: var(--dark2);
  --contribution-fg-color: var(--light1);
  --colophon-bg-color: var(--dark5);
  --colophon-fg-color: var(--light1);
  }
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 1rem;
  font-weight: bold;
  font-weight: 800;
  line-height: 1.25;
}

a {
  color: var(--link-color);
}

img {
  max-width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14pt;
  line-height: 1.3;
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.adw-button {
  border-radius: 12px;
  background-color: var(--button-bg-color);
  transition: background-color 0.2s ease-in-out;
  color: var(--window-fg-color);
  padding: 8px 12px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.adw-button:hover {
  background: var(--button-bg-hover-color);
}
.adw-button:active {
  background: var(--button-bg-active-color);
}

.adw-button-suggested {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
.adw-button-suggested:hover {
  background-color: var(--accent-bg-hover-color);
}
.adw-button-suggested:active {
  background-color: var(--accent-bg-active-color);
}

@media screen and (min-width: 800px) {
  .adw-button {
    padding: 10px 20px;
  }
}

/* CLAMP */
.clamp {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* HERO */
.hero {
  padding-top: 3em;
  display: grid;
  width: 100%;
  gap: 3em;
  overflow: hidden;
  padding-bottom: 3em;
}

.hero .clamp {
  display: grid;
  gap: 3em;
  justify-items: start;
}

@media screen and (min-width: 480px) {
  .hero .clamp {
    gap: 2em;
  }
}

@media screen and (min-width: 800px) {
  .hero {
    padding-top: 6em;
    padding-bottom: 0;
    gap: 4em;
  }
}


/* BRAND */
.brand {
  text-align: center;
}

.brand img {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 76px;
  margin-bottom: 0.5em;
}

.brand h1 {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: -1px;
  margin: 0 0 0.25em;
}

.brand p {
  font-weight: 500;
  font-size: 1.3em;
  letter-spacing: -0.5px;
  text-wrap: balance;
  margin: 0.25em 0 0;
}

/* As soon as there is space to collapse the appdata logo, do it. */
@media (min-width: 480px) {
  .brand {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }

  .brand h1 {
    font-size: 2.5em;
    margin: 0 0 0.15em;
    line-height: 1;
  }

  .brand p {
    margin: 0;
  }

  .brand img {
    display: inline;
    vertical-align: bottom;
    height: 0.9em;
    width: auto;
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  .brand {
    font-size: 1.3em;
  }
}

/* BUTTONS */
.buttons {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .buttons {
    font-size: 1.2rem;
    grid-auto-flow: column;
    width: initial;
  }
}

@media screen and (min-width: 800px) {
  .buttons {
    font-size: 1.4rem;
  }
}

/* SCREENSHOT */

.screenshot {
  display: none;
}

@media screen and (min-width: 480px) {
  .screenshot {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }

  .screenshot picture:not(.gnome) {
    display: none;
  }

  body.is-darwin .screenshot picture:not(.macos) {
    display: none;
  }
  body.is-darwin .screenshot picture.macos {
    display: flex;
  }
}

.screenshot img {
  display: block;
  width: 1160px;
  box-shadow: 0 1px 3px 3px transparent,
  0 2px 6px 3px rgba(0, 0, 0, 0.10),
  0 4px 7px 3px rgba(0, 0, 0, 0.04),
  0 0 0 1px rgba(0, 0, 0, 0.08);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* SECTION */
.section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.section-title {
  text-align: center;
  font-weight: 900;
  margin-top: 0;
}

/* FEATURE */


.features {
  background-color: var(--accent-bg-color-muted);
}

.feature {
  text-align: center;
}

.feature+.feature {
  margin-top: 2em;
}

.feature .feature-text .title {
  font-size: 1.2em;
}

.feature .feature-text strong {
  font-weight: 700;
}

.feature p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.feature .feature-icon>svg {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.feature .feature-icon>svg .circle {
  fill: var(--symbolic-background);
}

.feature .feature-icon>svg .symbolic {
  fill: var(--symbolic-foreground);
}

@media screen and (min-width: 800px) {
  .feature {
    display: flex;
    text-align: left;
    gap: 1.5em;
  }

  .feature-icon {
    align-self: center;
  }

  .feature-text {
    flex: 1;
  }
}

/* CONTRIBUTE */
.contribute {
  text-align: center;
}

.contribution-item {
  max-width: 480px;
  margin: 0 auto;
}

.contribution-item {
  margin-top: 4em;
  margin-bottom: 4em;
}

.contribution-item h3 {
  margin-top: 0.5em;
}

.contribution-icon .circle {
  fill: var(--contribution-bg-color);
}

.contribution-icon .symbolic {
  fill: var(--contribution-fg-color);
}

@media screen and (min-width: 800px) {
  .contributions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 4em;
    align-content: start;
  }

  .contribution-item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* FOOTER */
.colophon {
  background: var(--colophon-bg-color);
  color: var(--colophon-fg-color);
  font-size: 0.9em;
  text-align: center;
  padding: 3em;
}

.colophon a {
  color: var(--colophon-fg-color);
}

/* DOWNLOAD BUTTONS */
.download-page {
  margin-bottom: 3rem;
}

.downloads {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.downloads .adw-button {
  flex: 1;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media (prefers-color-scheme: dark) {
.downloads img.symbolic {
  filter: invert();
}
}
