curl -X {{ request.method }} '{{ request.url }}'
{%- for (key, value) in request.headers -%}
{{- " \\\n" }}    -H '{{ key }}: {{ value }}'
{%- endfor -%}
{%- if let Some(auth) = request.auth -%}
{{- " \\\n" -}}
{%- match auth -%}
{%- when Auth::Basic { username, password } %}    --basic -u '{{ username }}:{{ password }}'
{%- when Auth::BearerToken { token } %}    --oauth2-bearer '{{ token }}'
{%- when _ -%}
{%- endmatch -%}
{%- endif -%}
{%- if let Some(body) = request.body -%}
{{- " \\\n" -}}
{%- match body -%}
{%- when Body::Urlencoded { urlencoded, .. } %}    --data-raw '{{ urlencoded }}'
{%- when Body::Multipart { inline } -%}
{%- for (key, value) in inline -%}
{% if !loop.first %}{{- " \\\n" -}}{% endif %}    -F '{{ self.unquote(key) }}'='{{ self.unquote(value) }}'
{%- endfor -%}
{%- when Body::Raw { payload } %}    --data-raw '{{ self.unquote(payload) }}'
{%- when Body::File { path } %}    --data-binary '@{{ path }}'
{%- when _ -%}
{%- endmatch -%}
{%- endif -%}
