/*
 * Copyright 2024-2025 the Cartero authors
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.ignored-header text {
  color: @warning_color;
  text-decoration: line-through;
}

.ignored-header entry image.right {
  color: @warning_color;
}

.inactive-header text {
  opacity: 0.65;
}

/* So that the request method can keep the linked appearance even when inside another widget. */
.inline-linked button:dir(ltr) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.inline-linked button:dir(rtl) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Style for search bar elements. */
.searchbar {
  background: @headerbar_bg_color;
  border-bottom-left-radius: 10px;
}
