/*
 * Copyright 2024-2025 the Cartero authors
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.ignored-header text {
  color: var(--warning-color);
  text-decoration: line-through;
}

.ignored-header entry image.right {
  color: var(--warning-color);
}

.inactive-header text {
  opacity: 0.65;
}

/* So that the request method can keep the linked appearance even when inside another widget. */
.inline-linked button:dir(ltr) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.inline-linked button:dir(rtl) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Style for search bar elements. */
.searchbar {
  background: var(--headerbar-bg-color);
  border-bottom-left-radius: 10px;
}

/* Win32 style when running as Mica. */
window.mica, window.mica .top-bar {
  background-color: transparent;
}

window.mica .welcome-pane {
  background-color: rgb(255 255 255 / 1%);
}

window.mica .sidebar-pane {
  background-color: transparent;
  --sidebar-border-color: transparent;
}

/* macOS style when running as Vibrant. */
window.vibrant,
window.vibrant .top-bar,
window.vibrant .view,
window.vibrant .background,
window.vibrant .sidebar-pane,
window.vibrant .content-pane {
  background-color: transparent;
}

window.vibrant dialog .background {
  background-color: var(--window-bg-color);
}
window.vibrant dialog .view {
  background-color: var(--view-bg-color);
}

/* Disable window own border radius and use the macOS one because they don't match. */
window.macos-native {
  border-radius: 0;
}