.ignored-header text {
  color: @warning_color;
  text-decoration: line-through;
}

.ignored-header entry image.right {
  color: @warning_color;
}

.inactive-header text {
  opacity: 0.65;
}

/* So that the request method can keep the linked appearance even when inside another widget. */
.inline-linked button:dir(ltr) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.inline-linked button:dir(rtl) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Style for search bar elements. */
.searchbar {
  background: @headerbar_bg_color;
  border-bottom-left-radius: 10px;
}
